<div id="content" class="valine-content">
  
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    <p style="font-size: 13px">
      <% if (theme.valine && post.comments) { %>
        <div id="vcomments"></div>
        <script>
          window.onload = function(){
              var valine = new Valine();
              valine.init({
                el: '#vcomments',
                appId: "<%= theme.v_appId %>",
                appKey: "<%= theme.v_appKey %>",
                enableQQ: "<%= theme.v_enableQQ %>",
                path: window.location.pathname,
                placeholder: "<%= theme.v_placeholder %>",
                enjoyCDN: "<%= theme.v_enjoyCDN %>",
                enjoyMaps: "<%- theme.v_enjoyMaps %>",
              })
              console.log('commment',"<%- theme.v_enjoyMaps %>"[0])
          }
        </script>
        <% } %>
  </article>
</div>

